.header{
    display: flex;
    flex-direction: column;
    height: 20vh;
    align-items: center;
    h1{
        font-size: 3.6rem;
    }
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    a{
        text-decoration: none;
    }
}